.header{
  display: flex;
  justify-content: space-between;
}

.header-word{
  font-size: 32px;
  font-weight: 800;

}

.header-phonetic{
  color: var(--purple);
  padding-top: 10px;

}

.header-audio-play:hover{
  fill:#FFF;

}

.header-audio-circle:hover{
  opacity: 0.8;

}

.part-of-speech{
  padding-top: 10px;

  font-weight: 800;
  font-style: italic;

}

.meaning{
  margin-bottom: 40px;
}

.meaning-header{
  display: flex;

}
.line-container{
  position: relative;
  width: 100%;
}

.line{
  margin-left: 10px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-color:  hsla(0, 0%, 56%, 0.219);
  opacity: 0.8;

}

.sub-title{
  margin-top: 25px;
  color: #757575;

}

li{
  margin-top:14px;
}
li::marker{
  color: var(--purple);
}

.definition{
  line-height: 24px;
}

.synonyms{
  color: var(--purple);
  font-weight: 800;
  padding-left: 30px;

}

.divider{
  border-color:  hsla(0, 0%, 56%, 0.219);
  width: 100%;
}

.footer{
  margin-bottom: 50px;
}

.footer-title{
  text-decoration: underline;
}

.footer-source{
  color: var(--text-color)
}

.footer-source:after{
  content: url(../../../assets/images/icon-new-window.svg);
  padding-left:5px;

}


@media (min-width: 768px) {

  .header-word{
    font-size: 64px;

  }
  .header-audio svg{
    width: 64px;
    height: 64px;

  }
  .header-phonetic{
    font-size: 24px;

  }

}
