:host ::ng-deep i.pi-search{
  color: #A445ED;
}
:host ::ng-deep input.p-inputtext{
  color: var(--text-color);
  background-color: var(--input-bg-color);
  border-color: var(--bg-color);
  border-radius: 15px;
  height: 48px;
  width: 310px;
  font-family: var(--typography);
}

.error{
  color: red;
  text-align: center;
  padding-top: 5px;
}


@media (min-width: 768px) {

  :host ::ng-deep input.p-inputtext{
    height: 64px;
    width: 689px;
    font-size: 18px;

  }
}

@media (min-width: 799px) {

  :host ::ng-deep input.p-inputtext{

    width: 740px;


  }
}

